<!DOCTYPE html>
{% load staticfiles %}
{% block head_css %}
  <link rel="stylesheet" href="{% static 'templates/css/login.css' %}">
{% endblock %}

{% block title_block %}
    Welcome, Doctor
{% endblock %}

{% block body_block %}
<div id="login">
  <div class="login-card">

    <div class="card-title">
      <h1>Log in to Bad Boys Inc</h1>
    </div>

    <div class="content">
      <form method="POST" action="{% url 'login %}'" id="login_form">

        <input id="username" type="text" name="username" title="email" placeholder="Email" required autofocus>
        <input id="password" type="password" name="password" title="password" placeholder="Password" required>

        <div class="level options">
          <div class="checkbox level-left">
            <input type="checkbox" id="checkbox" class="regular-checkbox">
            <label for="checkbox"></label>
            <span>Remember me</span>
          </div>

          <a class="btn btn-link level-right" href="#">Forgot Password?</a>
        </div>

        <button type="submit" value="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}