<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Patient</h1>

    <h3>{{ out.name }}</h3>
    <p>Telephone number: <p id="tel">{{ out.tel }}</p></p>

    <p>Notes:</p>
    <input type="text" value="{{ out.notes }}" size="100" />
    </br>
    <div id="meds">

        {% for item in out.meds %}
            <li><input class="li" name="m"  type="text" value="{{ item.Medicine }}"/>
                <input class="li" name="t" type="text" value="{{ item.Time }}"/>
                <input class="li" name="msg" type="text" value="{{ item.Message }}"/>
            </li>
        {% endfor %}
    </div>
</br>
<button onclick="save()">Save changes</button>
<p>Exiting page without saving will discard changes</p>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" >
function save() {
    var data =document.getElementById("tel").innerHTML+"_0_";
    var buff_name = "";
    var buffer = {};
    $(".li").each(function(){
        if (this.name === "m"){
            buff_name= this.value;
        }else if(this.name === "t"){
            buffer["time"] = this.value;
        }else{
            buffer["message"] = this.value;
            data += buff_name+'__'+buffer["time"] + '__' + buffer["message"] + "_0_";
        }
    });
    $.ajax({
        type:"POST",
        url:"/save_patient",
        dataType:"text",
        data:data,
        success:function(response){
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Request: " + XMLHttpRequest.toString() + "\nStatus: " + textStatus + "\nError: " + errorThrown);
        },
    })
}

</script>
</body>
</html>