<!DOCTYPE html>
<html lang="en">
{%  block imports %}
{% load staticfiles %}
{%  endblock %}

{%  block content %}
    <meta charset="UTF-8">
    <title>Bad Boy Inc. Automated Prescription Reminder</title>
    <h3> Find Patient:</h3>
    <input type="text" id="searchBar" value="Patient Name" onclick="empty(this)">
    <button id="btnSearch" class="btn btn-info" onClick="populate()">Search</button>
    <button id="btnNew" class="btn btn-primary" onClick="new_patient()">New Patient</button>
    <button id="btnSchedule" class="btn btn-danger" onClick="schedule()">Update messaging schedule</button>
    <div id="searchResults"></div>
    <div id="new"></div>
{%  endblock  %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" >

document.getElementById("searchBar").addEventListener("keyup", function(event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode == 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("btnSearch").click();
    }
});

function schedule(){
    data= "data"
    $.ajax({
        type:"POST",
        url:"/schedule",
        data:data,
        dataType: "text",
        success:function(response){
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Request: " + XMLHttpRequest.toString() + "\nStatus: " + textStatus + "\nError: " + errorThrown);
        },
    })
}

function empty(id){
    id.value = "";
}

function populate(){
    let params = document.getElementById("searchBar").value;
    document.getElementById("searchResults").innerHTML = "";
    $.ajax({
        type:"POST",
        url:"/perform_search",
        data: {"params":params},
        dataType:"json",
        success:function(patients){
            for( var tel in patients){
                $('#searchResults').append('<p>' + patients[tel]["name"] + '</p> <p>'+ tel +'</p> <p>'
                    + patients[tel]["notes"] +'</p> <button id='+ tel +' onclick="select('+ tel +')">Select</button>');
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Request: " + XMLHttpRequest.toString() + "\nStatus: " + textStatus + "\nError: " + errorThrown);
        },
    });
}
// '<button class="actionBtn btn btn-success" onClick=post_fun(this.firstChild.nodeValue)>' + i + " " + data[i][j] + '</button>'

function new_patient(){
    window.location.href = "/add_patient";
}

function select(tel){

    window.location.href = "/patient/"+tel;
}
</script>
</html>